.information {

    .photo {
        background-image: url('./assets/photo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
    }
    
    .name {
    
    }
    
    .phone {
    
    }
}

