.btn_favorite {
    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;

    transition: all .2s;
    
    background-image: url('./assets/favorite.svg');

    &:hover {
        background-image: url('./assets/is-favorite.svg');
        transition: all .2s;
    }
}

.favorite {
    background-image: url('./assets/is-favorite.svg');
}