.modal_window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    display: none;

    background-color: rgba(#000, .3);

    cursor: pointer;

    .modal_window_children {
        cursor: default;
    }
}

.modal_window-open {
    display: flex;
    justify-content: center;
    align-items: center; 
}