.btn_delete {
    width: 15px;
    height: 15px;

    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;

    transition: all .2s;
    
    background-image: url('./assets/delete.png');
}