@import '../../styles/color';


.button {
    cursor: pointer;
    
    width: 100%;
    height: 100%;

    font-weight: 700;

    border: none;

    transition: all .2s;
}

.primary {
    background-color: $lightGreen;
    color: $darkGreen;

    &:hover{
        opacity: .8;
    }
}

.default {
    background-color: $lightGrey;
    color: $darkGrey;
}